@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Administrator" asp-page="/ArticleCategoryManagement/List">ArticleMNGM</a>
                        </li>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
